---
---

@import "{{ site.theme }}";

.wrapper, .main, .page__main-content, #main {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

section {
  max-width: 70% !important;
  width: 70% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin: 370px auto !important;
  margin-top: 0 !important;
}

.table-container {
  overflow-x: auto;
}

td:nth-child(8),   /* steps */
td:nth-child(9),   /* description */
td:nth-child(10) { /* ingredients */
  max-height: 150px;
  overflow-y: auto;
  display: block;
  white-space: normal;
}

td::-webkit-scrollbar {
  width: 6px;
}

td::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

