---
---

@import "{{ site.theme }}";

.wrapper, .main, .page__main-content, #main {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


section {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin: 0 auto !important;
}